.masthead {
    height: 100vh;
    max-height: 500px;
    background-image: url('/images/halfdome.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
  
section {
    padding: 150px 0;
}

#J30Home, .blog {
  padding-top: 60px;
}

code  {
  display: block;
  background-color: black;
  border-radius: 5px;
  padding: 10px;

}
.indent {padding-left: 10px;}